{% extends 'layout.html' %}

{% block title %}Community Exchange Hub{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <h1>Community Exchange Hub</h1>
    <p class="lead">
        Introducing 'Community Exchange Hub', a digital platform designed to empower local communities by facilitating the exchange of goods, services, and knowledge. Our mission is to champion sustainable lifestyles, boost local commerce, and foster deeper community connections.    </p>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/registration" class="btn btn-success">Register</a>
</div>
{% endblock %}
