{% extends 'layout.html' %}

{% block title %}Listings{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>All Listings</h2>
    <div class="listings-container d-flex flex-row flex-wrap justify-content-start">
        {% for listing in listings %}
        <div class="listing-item mb-4 mr-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ listing[4] }}" alt="{{ listing[2] }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ listing[2] }}</h5> <!-- Title -->
                    <p class="card-text">{{ listing[3] }}</p> <!-- Description -->
                    <p class="card-text"><small class="text-muted">Category: {{ listing[5] }}</small></p> <!-- Category -->
                    <p class="card-text"><small class="text-muted">Date Posted: {{ listing[6] }}</small></p> <!-- Date Posted -->
                    <a href="{{ url_for('view_listing', listing_id=listing[0]) }}" class="btn btn-primary">View</a> <!-- listingID for URL -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
