{% extends 'layout.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {% if profile_image %}
                    <!-- Ensure the src points to the uploaded_file route -->
                    <img src="{{ url_for('uploaded_file', filename=profile_image) }}" alt="Profile Image" class="img-fluid rounded-circle mb-3">
                {% else %}
                    <!-- Provide the correct path to your default image -->
                    <img src="{{ url_for('static', filename='uploads/defaultpfp.jpg') }}" alt="Default Profile Image" class="img-fluid rounded-circle mb-3">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h2 class="mb-3">{{ first_name }} {{ last_name }}</h2>
                <ul class="list-unstyled">
                    <li><strong>Email:</strong> {{ email }}</li>
                    <li><strong>Location:</strong> {{ location }}</li>
                </ul>
                <a href="{{ url_for('edit_profile') }}" class="btn btn-primary mt-3">Edit Profile</a>
                <a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Logout</a>
            </div>
        </div>

        <h3 class="mt-5">Your Listings</h3>
        <div class="listings-container d-flex flex-row flex-wrap justify-content-start">
            {% for listing in user_listings %}
                <div class="listing-card mb-4 mr-4">
                    <div class="card" style="width: 18rem;">
                        {% if listing['images'] %}
                            <img src="{{ url_for('uploaded_file', filename=listing['images']) }}" alt="Listing Image" class="card-img-top">
                        {% else %}
                            <img src="{{ url_for('static', filename='path_to_default_listing_image.jpg') }}" alt="Default Listing Image" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing['title'] }}</h5>
                            <p class="card-text">{{ listing['description'] }}</p>
                            <p class="card-text"><small class="text-muted">Category: {{ listing['category'] }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
