{% extends 'layout.html' %}

{% block title %}Registration Page{% endblock %}

{% block content_title %}Registration Page{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" required autocomplete="off"><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required autocomplete="off"><br>

        <input type="submit" value="Register">
    </form>
    {% endblock %}
