{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Registered Users</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Location</th>
                        <th scope="col">Profile</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.location }}</td>
                            <td>
                                <a href="{{ url_for('user_profile', user_id=user.userID) }}" class="btn btn-primary btn-sm">View Profile</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
