{% extends 'layout.html' %}

{% block title %}View Listing{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ listing.images }}" alt="{{ listing.title }}" class="img-fluid rounded shadow-sm" style="width: 500px; height: 500px">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-3">{{ listing.title }}</h2>
                    <p class="card-text">{{ listing.description }}</p>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">Category: {{ listing.category }}</li>
                        <li class="list-group-item">Date Posted: {{ listing.datePosted }}</li>
                        <li class="list-group-item">
                            Posted by: 
                            <a href="{{ url_for('user_profile', user_id=user.userID) }}">
                                {{ user.firstName }} {{ user.lastName }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">Send a message to the listing creator:</h3>
            <form action="{{ url_for('view_listing', listing_id=listing.listingID) }}" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="message_content" rows="3" required placeholder="Type your message here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
