{% extends 'layout.html' %}

{% block title %}View Listing{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <img src="{{ listing.images }}" alt="{{ listing.title }}" width="200">
    <p>Category: {{ listing.category }}</p>
    <p>Date Posted: {{ listing.datePosted }}</p>
    <p>Posted by: {{ user.firstName }} {{ user.lastName }}</p>

    <h3>Send a message to the listing creator:</h3>
    <form action="{{ url_for('view_listing', listing_id=listing.listingID) }}" method="post">
        <textarea name="message_content" required placeholder="Type your message here..."></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>
{% endblock %}
