{% extends 'layout.html' %}

{% block title %}View Listing{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ listing.images }}" alt="{{ listing.title }}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <h2 class="mb-3">{{ listing.title }}</h2>
            <p>{{ listing.description }}</p>
            <ul class="list-group mb-3">
                <li class="list-group-item">Category: {{ listing.category }}</li>
                <li class="list-group-item">Date Posted: {{ listing.datePosted }}</li>
                <li class="list-group-item">Posted by: {{ user.firstName }} {{ user.lastName }}</li>
            </ul>
        </div>
    </div>
    
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">Send a message to the listing creator:</h3>
            <form action="{{ url_for('view_listing', listing_id=listing.listingID) }}" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="message_content" rows="3" required placeholder="Type your message here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
